
/* 
~~STYLES INDEX~~

INDEX/LANDING

OUR STORY

OUR WORK

GET INVOLVED

BLOG

RESOURCES

CONTACT US

~~~secondary pages~~~
ABOUT THE FOUNDER

ABOUT THE BOARD

PROGRAMS
-HYGIENE DRIVE
-

*/




/* -------- INDEX --------- */

/*DEFAULT/MOBILE */

/* @media only screen and (max-width: 768px) { */
    #landing_container{
        height: auto;
    }
    #landing_background {
        flex: 1;
        height: 100%;
        background: url(images/landing_bg_andrikan.png) no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    #landing_flex1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #landing_flex1_cont{
        /* width: */
        padding-top: 3vh;
        padding-bottom: 2vh;
    }
    #landing_container_content {
        padding: .5vh 0 .5vh 3.5vw;
        background-color: #E9E6E2;
        width: 65vw;
        margin: 0 auto;
    }
    .landing_header_img{
        display: flex;
        flex-direction: row;
        background-color: #5D1C44;
        width: 100vw;
    }
    img#landingHeaderImg {
        object-fit: contain;
        height: 30vh;
        width: 90vw;
        margin: 3vh auto 0;
    }
    #landing_container_content h1{
        color: #51375C;
    }
    .landingValues{
        display:none;
      }
    .landingValuesMOBILE{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vh 6.5vw;
        justify-content: space-around;
        width: 80vw;
        margin-right:auto;
        margin-left:auto;
      }
      .landingValuesMOBILE h4{
        color:#C2891F;
      }
      .landingValuesMOBILE img{
        max-width: 35px;
        aspect-ratio: auto;
        max-height: 35px;
    }
    #landing_mission{
        background-color: #5D1C44;
        height: auto;
        margin-top: -1vh;
        padding: 0 0 6vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #landing_mission h3{
        margin-top: 0;
        padding-top: 3vh;
        text-align: center;
        width: 80vw;
        margin-left: auto;
        margin-right:auto;
    }
    #landing_mission p{
        font-size: .80em;
        width: 70vw;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        color: #f1f1f1;
    }
    /* INDEX Programs*/
    #home_programs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80vw;
        gap: 4vw;
        margin-left: auto;
        margin-right: auto;
    }
    .homeProgram{
        position: relative;
        background-color: #C2891F;
        color: #fff;
        width: 80vw;
        height: 20vh;
        padding: 2vh 2.5vw;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
    }

    .homeProgram p, .homeProgram h2{
        color:#f1f1f1;
    }
    .hover_flip{
        display: none;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .hover_flip img{
        object-fit: cover;
        width:100%;
        height:100%;
        border-radius: 5%;
        
    }
    .homeProgram:hover .hover_flip{
        display: block;
    }
    /* INDEX Donate*/
    #landing_donate_flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* updtd */
        margin-top: 5vh;
        align-items: center;
        margin-bottom: 3vh;
    }
    #landingDonateContainer{
        max-width: 90%;
    }
    #landing_donate_flex div{
        margin:auto;
    }
    #landing_donate_flex img{
        object-fit: contain;
        max-height: 30vh;
    }
    a#home_do.block_button{
        background-color: #BDB763;
        color:#51375C;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    .adinkra_break{
        height: auto;
        max-height: 10vh;
        width: 100%;
        min-width: 70vw;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        /* updtd */
        margin: 2.65vh 0 1.5vh;
    }

    /* INDEX Impact*/

    #landing_impact{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }
    #landing_impact h2{
        text-align: center;
    }
    #home_impact_stories{
        display: flex;
        flex-direction: column ;
        width: 90vw;
        /* justify-content: center; */
        flex-wrap: nowrap;
        gap: 1.5vh;

    }
    .impactFlexHome{
        display:flex;
        flex-direction: row;
        justify-content:center;
        gap: 1vw;
        margin: 0 0 1vh;
    }
    .impactImage{
        align-self: flex-end;
    }
    .impactFlexHome img{
        max-width: 17vw;
        height:auto;
    }
    p.impactName {
        font-family: Oswald !important;
        color:#51375C !important;
        font-size: 1em;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .impactSpeechBubble{
        border-radius: 22px;
        width: 235px;
        padding: 3.5vw;
        vertical-align: middle;
    }
    .impactSpeechBubble p{
        font-size: .70em;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #f1f1f1 !important;
    }
    .impactSpeechBubble#cran{background-color: #5D1C44;} .impactSpeechBubble#brown{background-color: #4B342D;}.impactSpeechBubble#purple{background-color: #51375C;}

    a#rm{
        color:#C2891F !important;
        text-align: center;
    }
    .impactContent{
        width: 70%;
    }
    /* INDEX Closing*/
    #landing_closing{
        background-color: #EDEDED;
        position: relative;
        height: 49vh;
    }
    #patternLanding2{
        z-index: 0;
        width: 90vw;
        height: 55%;
        position: absolute;
        right: 13vw;
        top: 0vh;
        object-fit: cover;
    }
    #landingClosingImg {
        z-index: 1;
        position: absolute;
        top: 2vh;
        right: 6vw;
        width: 60%;
        height:auto;
    }
    #landingClosingContainer{
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        bottom: 3vh;
    }
    #homeExplore{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 90vw;
        height: 8vh;
        gap:0;
    }
    #homeExplore a{
        text-align: center;
        font-family: Oswald;
        font-size: .95em;
        width: 33%;
        text-decoration: none;
        color:#f1f1f1;
    }

    #homeExplore p{
        color:#f1f1f1;
        margin:0;
    }
    /* MOBILE only */
    #homeExplore .block_button p{
        font-size: 1.30em;
        text-align: center;
    }
    #homeExplore div.arrow{
        display:none;
    }

/* END INDEX STYLES DEFAULT/MOBILE */



/* INDEX STYLES TABLET */
@media only screen and (min-width: 768px) {
    
    .landing_header_img{
        background-color: transparent;
    }   
    img#landingHeaderImg {
        height: 30vh;
    }
    /* .landingValuesMOBILE{
        display:none;
    } */
    #landing_mission h3{
        width: 85vw;
    }
    /* INDEX Programs*/
    #home_programs{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .homeProgram{
        width: 50vw;
        padding: 2vh 1.5vw;
    }
    /* INDEX Donate */
    #landing_donate_flex img{
        max-height: 45vh;
    }
    #landingDonateContainer{
        max-width: 80%;
    }
    /* impact */
    #home_impact_stories{
        width: 75vw;
        flex-direction: row;
        justify-content: space-around;
        margin-left:auto !important;
        margin-right:auto !important;
        gap: 2.5vh;
    }
    .impactFlexHome{
        justify-content: flex-start;
    }
    .impactFlexHome img{
        max-width: 10vw;
    }
    .impactSpeechBubble{
        padding: 1.5vw;
    }
    a#rm{
        position: relative;
        left: 100%;
        top: 1vh;
    }
    /* INDEX Closing*/
    #landing_closing{
        height: 55vh;
    }
    #patternLanding2{
        height: 65%;
    }
    #landingClosingImg {
        width: 50%;
    }
    #landingClosingContainer{
        margin-left: -13vw;
    }
    #landingClosingContainer h2{
        margin-block-end: 0;
    }
    #homeExplore{
        width: 60vw;
        height: 8vh;
    }
    #homeExplore div.arrow{
        height: 35% !important;
        width:auto;
        gap:0;
    }
}
/* END INDEX STYLES TABLET */


/* DEFAULT/MOBILE GLOBAL PAGE STYLES */
    .pageTitle{
        height: auto;
        width: 85vw;
        border-radius: 35px;
    }
    .readMore::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 2vw;
        margin-top: 0.65vh;
        vertical-align: middle;
      }
    .subPageHeader h1 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2em;
        padding-left: 7vw;
    }
    .main_section {
        padding: 2vh 5vw 2vh;
    }
/* END DEFAULT GLOBAL PAGE STYLES */

/* TABLET GLOBAL PAGE STYLES */
@media only screen and (min-width: 768px) {
    .subPageHeader h1 {
        font-size: 2.5em;
    }
}
/* END TABLET GLOBAL PAGE STYLES */


/* DESKTOP GLOBAL PAGE STYLES */
@media only screen and (min-width: 1024px) {
    .pageTitle{
        width: 45vw;
    }
    .readMore::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 4px;
        vertical-align: middle;
      }
    .main_section{
        padding: 2vh 12.5vw 2vh;
    }
    .subPageHeader h1 {
        font-size: 3em;
    }

}
/* END DESKTOP GLOBAL PAGE STYLES */



/* -------- OUR STORY --------- */

/*DEFAULT/MOBILE */
/* @media only screen and (max-width: 768px) { */
    #mission{
        padding: 2vh 4.5vw 4vh;
    }
    #mission h2{ 
        color:#f1f1f1;
        text-align: center;
    }
    #mission p{ color:#f1f1f1;}

    #mission h3{
        text-align: center;
    }
    #founder_preview{
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: space-between;
        z-index: 1; 
        position: relative;   
        margin-left: auto;
        margin-right: auto;
        gap: 0;
        margin-bottom: 5vh;
    }
    #founder_preview img{
        border-radius: 40px;
        height: 42vw;
        width: 41vw;
        object-fit: cover;
        object-position: bottom;
        margin-top: -4vh;
        object-position: bottom;
        position:relative;
        left: 50%;
        transform: translate(-50%);
    }
    
    h4#founder_preview, p#founder_preview{
        color:#4B342D;
        margin-block-start: .15em;
        margin-block-end: .15em;
    }
    .ourStoryPreview1.arrowMore{
        margin-right: 2vw;
    }
    h2#ab_board{
        text-align: left;
        margin-left: 5vw;
    }
    .boardPreview{
        display:flex;
        flex-direction: row;
        gap: 2vw;
        margin-bottom: 2vh;
    }
    .ourStoryPreview2.arrowMore{
        margin-right: 4.5vw;
    }
    #board_preview{
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
    .boardPreviewInfo{
        align-self: flex-end;
    }
    #board_preview a{
        text-align: right;
    }
    #board_preview p{
        line-height: 1vh;
    }
    p.boardTitle{
        font-family: Oswald, Geneva, Verdana, sans-serif;
        color:#51375C;
    }
    p.boardName{
        color:#51375C;
        font-style: italic;
    }
    #board_preview.block_button{
       align-self:center;
       margin-bottom: 7vh;
    }
    #board_preview.block_button p{    color: #5D1C44;}
    
    .rect{
        width: 125px;
        height: 125px;
        border-radius: 8px;
        background-color: #D8CCBF;  
    }

/* end our story default */

/* OUR STORY TABLET */
@media only screen and (min-width: 768px) { */
    #mission{        
        padding: 2vh 12.5vw 4vh;
    }
    #mission h3{
        text-align: left;
    }
    #founder_preview{
        flex-direction: row;
        gap:3vw;
    }
    #founder_preview img {
        height: 35vw;
        width: 31vw;
    }
    /* #founder_previewImg{
        width: 34vw;
    } */
    #board_preview.arrowMore{
        margin-right: 1vw;
    }
    #board_preview{
        display: flex;
        flex-wrap: nowrap;
        gap: 3vw;
        width: 80vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 9vw;
    }
    h2#ab_board{
        margin-left: 7vw;
    }
    .boardPreview{
        flex-direction: column;
        gap:0;
    }
    .boardPreviewInfo{
        align-self: auto;
    }
    .rect{
        width: 175px;
        height: 175px;
    }
    #board_preview{
        gap: 1vw;
        width: 85vw;
    }   
    #board_preview.block_button{
        position: static;
        margin-left: auto;
    }
    .ourStoryPreview2.arrowMore {
        margin-right: 0;
    }
}
/* end our story tablet */

/* OUR STORY DESKTOP */
@media only screen and (min-width: 1024px) {
    #founder_preview{
        width: 80vw;
        gap: 5vw;
    }
    #founder_preview img{
        height: 27vh;
        width: 20vw;
    } 
    #board_preview{
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 53vw;
    }
    #board_preview.block_button{
        position: relative;
        right: 5vw;
    }
}
/* end our story */


/* -------- OUR WORK --------- */
#programSection h2{
    color:#E9E6E2;
    text-align: center;
}
#programSection p{
    text-align: center;
}
.main_section h3{
    font-size: 1.05em;
    text-align: center;
}

/* @media only screen and (max-width: 768px) { */
    #mc_embed_signup {
        background:#51375C; 
        clear:left; 
        font-size:14px;
        font-family:Oswald, Geneva, Verdana, sans-serif;
    }

    #mc_embed_signup_scroll {
        display: flex;
        gap: 2.5vw;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    #mc_embed_signup input{
        border-radius: 14px;
        height: 3vh;
        margin-left: 0.5vw;
        overflow: scroll;
        width: 100%;
    }
    .mc-field-group input{
        background-color: #51375C;
        border: 2px solid #E9E6E2;
        color:#f1f1f1;
        font-family: OpenSans, Arial, Helvetica, sans-serif;
    }
    .mc-field-group label{
        font-family: Oswald, Geneva, Verdana, sans-serif;
    }
    #mc_embed_signup .helper_text {
    }
    #mce-responses.clear.foot{
        max-width: 2vw;
        margin: 0;
        align-self: center;
    }
    #mc-embedded-subscribe.button{
        /* height: auto;
        padding: 1.5vh 3.5vw; */
        background-color: #E9E6E2;
        color: #51375C;
        border: 0;
        text-decoration: none;
        display:inline-block;
        text-align: center;
        margin-top: 2.5vh;
        height: 50%;
        padding: 1vh 3.5vw 1vh;
        overflow: hidden;
    }
    
    #mc-embedded-subscribe p{
        font-family: Oswald, Geneva, Verdana, sans-serif;
        font-size: 1.05em;
        color:#51375C;
        background-color: #E9E6E2;
    }
    img.refferal_badge{
        width: 20px;
        height:auto;
    }
    #events.main_section h3{
        text-align: center;
    }
    #program_cards{
        display:grid;
        grid-template-columns: 1fr;
        gap: 3vw;
        width:75vw; 
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }
    .programCard{
        position: relative;
        overflow: hidden;
        border-radius: 33px;
        border: 2px solid #51375C;
    }
    .programCard img{
        width:100%;
        height:auto;
        display:block;
        object-fit:cover;
    }
    .progCardOverlay{
        position:absolute;
        bottom:0;
        left:0;
        width: 100%;
        padding: 1vh 3vw;
        background: linear-gradient(to top, rgba(233, 230, 226, 100), rgba(233, 230, 226, 0.7));
        color: #51375C;
        box-sizing: border-box;
        height: 35%;   
        display: grid;
    }
    p.progCardTitle {
        text-align: left;
        margin: 0;
        font-family: Oswald;
        font-size: 1.05em;
        line-height: 100%;
    }
    .cardLine2{
        margin-top: 0;
    }
    a.progCardLink{
        font-size: .85em;
        color:#51375C;
        font-family: OpenSans;
        justify-self: flex-end;
    }
     a.progCardLink:hover{
        color:#C2891F;
    }
    a.progCardLink:hover .programCard{
        border-color:#C2891F;
    }
    .impact{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vw;
        margin: 0 0 1vh;
    }
    .impact img{
        max-width: 17vw;
        height:auto;
    }
/* } */

/* OUR WORK DESKTOP */
@media only screen and (min-width: 1024px) {
    #mc_embed_signup_scroll{
        max-width:50vw;
    }
    #program_cards{
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    }
    .progCardOverlay{
        padding: 1vh 1vw;
    }
    p.progCardTitle {
        font-size: 1.5em;
    }
    a.progCardLink{
        font-size: 1.15em;
    }
}
/* END our work desktop*/



/* -------- GET INVOLVED --------- */

/* @media only screen and (max-width: 768px) { */
    #wwwu h2{
        color:#f1f1f1;  
    }
    .getInvolvedFlex {
        display: flex;
        flex-wrap: nowrap;
        width: 65vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        gap: 2.5vw;
    }
    .getInvolvedFlex div{
        width: 100%;
    }
    .getInvolvedFlex h3, .getInvolvedFlex p{
        color:#51375C;
    }
    #getInvolvedFlex1{
        flex-direction: column-reverse;
    }
    #getInvolvedFlex2{
        flex-direction: column;
    }
    .getInvolvedFlex img {
        border-radius: 20px;
        width: 100%;
    }

    .getInvolvedFlex h3, .getInvolvedFlex p {
        color: #51375C;
        margin-bottom: 0;
        margin-top: 0;
    }
    .getInvolvedMenu{
        width: 80vw;
        margin-left: auto;
        margin-right:auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.35vw;
        margin-bottom: 5vh;
    }
    .getInvolvedMenu button{
        position: relative;
        border:none;
        border-radius: 15px;
        height: 15vh;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .getInvolvedMenu button h2 {
        color: #f1f1f1;
        font-size: 1.6em;
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: 0.5em;
    }
    .getInvolvedMenu div {
        height: 3vh;
    }
    .getInvolvedMenu button .arrow {
        align-self: flex-end !important;
        position: absolute;
        top: 7.75vh;
        width: 13% !important;
        margin: 0.5vh 1.35vw;
    }


/* GET INVOLVED TABLET */
@media only screen and (min-width: 768px) {
    .getInvolvedFlex{
        width: 70vw;
    }
    #getInvolvedFlex1{
        flex-direction: row;
    }
    #getInvolvedFlex2{
        flex-direction: row;
    }
    .getInvolvedFlex div{
        width: auto;
    }
    .getInvolvedFlex img{
        width: 28vw;
    }
    .getInvolvedMenu {
        width: 75vw;
        gap: 3.35vw;
    }
    .getInvolvedMenu button h2{
        font-size: 2em;
    }
}

/* GET INVOLVED DESKTOP */
@media only screen and (min-width: 1024px) {
    
    .getInvolvedMenu{
        grid-template-columns: repeat(4, 1fr); /* Four equal-width columns */
    }
    .getInvolvedMenu div{
        height: 17vh;
    }
    
    .getInvolvedMenu button .arrow{
        top: 2.75vh;
    }
}
/* end get involved desktop */


/* -------- RESOURCES --------- */
/* @media only screen and (max-width: 768px) { */
    #top_resources_container{
        display:grid;
        width: 90vw;
        grid-template-columns: repeat(1, 1fr);
        gap: 4.5vw;
        margin-left: auto;
        margin-right: auto;
        margin: 5vh auto;
    }
    #resources_container{
        display:grid;
        width: 90vw;
        grid-template-columns: repeat(1, 1fr);
        gap: 4.5vw;
        margin-left: auto;
        margin-right: auto;
        margin: 5vh auto;
    }
    .resourceBox h3{
        font-size: 1.45em;
        text-align: center;
        margin: 1.35vh;
    }

    .resourceBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3vw;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        padding: 1.5vh 1.75vw;
        height:auto;
    }
    .resourceBox p{
        text-align: center;
        font-size: .7em;
    }
    .greenBG.resourceBox h3, .greenBG.resourceBox p{
        color:#51375C;
        width: 80%;
    }
    .purpleBG.resourceBox h3, .purpleBG.resourceBox p{
        color:#f1f1f1;
        width: 80%;
    }
/* } */
/* TABLET */
@media only screen and (min-width: 768px) {
    #top_resources_container{
        width: 85vw;
    }
    #resources_container{
        width: 85vw;
        grid-template-columns: repeat(2, 1fr);
    }
    .resourceBox h3{
        font-size: 1.65em;
        margin: 1.15vh;
    }
    .greenBG.resourceBox{
        height: 12vh;
    }
    .purpleBG.resourceBox{
        height: 15vh;
    }
}
/* DESKTOP */
@media only screen and (min-width:1024px) {
    #top_resources_container{
        width: 75vw;
        grid-template-columns: repeat(2, 1fr);
    }
    #resources_container{
        width: 75vw;
        grid-template-columns: repeat(3, 1fr);
    }
    .resourceBox h3{
        font-size: 1.7em;
    }
    .greenBG.resourceBox{
        height: 27vh;
    }
    .purpleBG.resourceBox{
        height: 26vh;
    }
}
/* end resources desktop */


/* --------BLOG --------- */
.blogPostContainer.orangeBG{
    border: 2.5px solid #C2891F;
}
.blogPostContainer.cranBG{
    border: 2.5px solid #5D1C44;
}
/* @media only screen and (max-width: 768px) { */
    #blog_container{
        width: 70vw;
        margin: 5vh auto;
    }
    .blogPostContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        text-decoration: none;
        border-radius: 25px;
        transition: background-color 0.3s ease;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 3vh;
    }
    .blogPostContainer.orangeBG{
        flex-direction: column-reverse;
    }
    .blogPostContainer img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    .blogPostInfo {
        /* flex-grow: 1; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: 2.5vh 2.35vw 1.5vh;
        box-sizing: border-box;
        /* width: 50%; */
      }
      .blogPostInfo h3 {
        margin: 0;
        font-size: 1.55em;
      }
      
      .blogPostInfo p {
        margin: 0;
        color: #f1f1f1;
        align-self: flex-end;
      }
    
      /* Style for hover effect */
      .blogPostContainer:hover {
        background-color: #BDB763; /* Adjust as needed */
        cursor: pointer;
        border: 5px;
      }


/* blog tablet */
@media only screen and (min-width: 768px) {
    #blog_container{
        width: 85vw;
    }
    .blogPostContainer {
        flex-direction: row;
        height: 25vh;
    }
    .blogPostContainer img {
        width: auto;
        margin: auto 0;
        aspect-ratio: 1 / 1;
    }
    .blogPostContainer div {
        min-width: 60%;
        height: 100%;
    }
    .blogPostInfo {
        padding: 2.5vh 2.35vw;
      }
}
/* blog desktop */
@media only screen and (min-width: 1024px) {
    #blog_container{
        width: 60vw;
        margin: 5vh auto;
    }
    .blogPostContainer {
        height: 40vh;
    }
    
}

/* end blog desktop */



/* -------- CONTACT US --------- */
.rrPageContainer#contact{
    width: 90vw;
}
#contactFlex{
    display:grid;
    grid-template-columns: 1fr;
}
#contactCrisis {
    display: block;
    border-radius: 25px;
    width: 80%;
    padding: 2vh;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}
a#contactCrisis {
    text-decoration: none;
}
#contactCrisis h3, #contactCrisis p{
    color: #fff;
}
#contactInfo h1{
    color:#51375C;
}

#contactFormContainer{
    margin-top: 5vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border:none;
}
#contactUs label{
    margin: 2% 0 0 .5% !important;
    color: #5D1C44;
    width: 93%;
    display:block;
    font-size: 1em;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

#contactUs input{
    width: 100%;
    max-width: 100%;
    margin: 0.25vh 0 2vh;
    padding: .55vh 0.5vw;
    border: solid 4px #BDB763;
    border-radius: 7px; 
    background-color: #E9E6E2;
    color: #4B342D;
    font-size: 1em;
    font-family:OpenSans, Arial, Helvetica, sans-serif;
}
#contactUs input:focus, #contactUs textarea:focus{
    outline-color: #4B342D;
    border-color: #C2891F;
}
textarea#message{
    width: 100%;
    max-width: 100%;
    padding: 1vh 0.5vw;
    border: solid 4px #BDB763;
    border-radius: 7px; 
    background-color: #E9E6E2;
    color: #4B342D;
    font-size: 1em;
    font-family:OpenSans, Arial, Helvetica, sans-serif;
}

input#submitForm{
    background-color: #C2891F;
    font-size: 1.1em;
    color: white;
    padding: 1vh;
    width: 97%;
    margin-top: 2vh;
    border: 0;
}
input#submitForm:hover{
    background-color: #BDB763;
    color:#4B342D;
    cursor:pointer;
}
#keepInTouch{
    width: 100%;
}
#keepInTouch p{
    font-size: 1.5em;
    color:#51375C;
    text-align: center;
}
#contactSocials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#keepInTouch img{
    width: 50%;
}

/* contact tablet */
@media only screen and (min-width: 768px) {
    h1#contactFlex{
        text-align: center;
    }
}
/* tablet only */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #contactFlex h1{
        text-align: center;
    }
    #contactCrisis{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    #contactUs fieldset{
        margin-top: -4vh;
    }
}

/* contact desktop */
@media only screen and (min-width: 1024px) {
    h1#contactFlex{
        text-align: left;
    }
    #contactFlex{
        grid-template-columns: repeat(2, 1fr);
    }
    #contactInfo{
        width: 40vw;
    }
    #contactCrisis{
        margin-left: 0;
    }
    #contactFormContainer{
        width: 50vw;
    }
    #keepInTouch{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: baseline;
    }
    #contactSocials{
        justify-content: flex-start;
        text-align: left;
    }

}
/* end contact desktop */



/* -------- DONATE --------- */

#support h1{
    color:#f1f1f1;
    text-align: center;
}
.supportHeader h2{
    text-align: center;
    color:#f1f1f1;
    margin: 2vh 0;
}
.rrPageContainer#support{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
#donateFlex{
    display: grid;
    grid-template-columns: 1fr;
}

#donateFlex div{
    width: auto;
}
#yourContribution{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
}
#yourContribution div{
    width: 75%;
    border-radius: 33px;
    border: 5px solid #C2891F;
    background-color: #EDEDED;
    text-align: center;
    padding: 1.5vh 1.75vw 1vh;
    height: auto;
}
#yourContribution div p{
    color:#4B342D;
    font-family: Oswald, Geneva, Verdana, sans-serif;
}
p.contributeNum{
    font-size: 3em;
    margin: 1.5vh auto;
    font-weight: 500;
}
p.contributeDesc{
    font-size: 1.15em;
}
#donateNow p{
    color:#51375C !important;
}



/* contact tablet */
@media only screen and (min-width: 768px) {
    #donateFlex{
        grid-template-columns: repeat(2, 1fr);
    }
    .rrPageContainer#support{
        margin-left: auto;
        margin-right: auto;
    }
    #yourContribution div{
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .rrPageContainer#support{
        width: 75vw;
    }
}

/* end donate desktop */



                  /* -------SECONDARY PAGES------- */


/* -------- ABOUT THE FOUNDER --------- */

/* MOBILE/DEFAULT */
/* @media only screen and (max-width: 768px) { */
    #aboutFounder{
        width: 80vw;
    }
    #aboutFounder h3{ color:#5D1C44; text-align: center;}
    #aboutFounder h4, #aboutFounder p { color:#4B342D; }
    
    #about_flex{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:3vw;
    }
    #about_flex img{
        width:80vw;
        height:auto;
        align-self: flex-end;
    }
    #about_flex div{
        align-self: flex-end;
    }
    h2#about_flex{
        font-weight: 500;
        color:#4B342D;
    }
    
    h4#about_flex, p#about_flex{
        margin-left: 3vw;
        margin-top: 0;
        margin-bottom: 0.75vh;
    }
    a.block_button.centeredButton{
        margin: 5vh auto ;
    }
    a.block_button.centeredButton p{
        color:#f1f1f1 !important;
        margin-left:auto;
        margin-right:auto;
    }                             
/* end default */

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    #about_flex{
        flex-wrap: nowrap;
    }
    #about_flex img{
        height: 38vh;
        width: auto;
    }
}
/* end about founder */



/* -------- MEET THE BOARD --------- */
/* @media only screen and (max-width: 768px) { */
    .rrPageContainer#meetBoard{
        width: 85vw;
        margin-bottom: 4vh;  
    }
    #meetBoardGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 7vh 8vw;
    }
    #meetBoard.greenBG p{
        color:#51375C !important;
    }
    
    .boardMemberFlex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2vw;
    }
    .boardMemberFlex div{
       align-self: flex-end;
    
    }
    .boardMemberFlex img{
        border-radius: 10px;
        width: 215px;
        height: 215px;
        object-fit: cover;
    }
    .boardMemberFlex h3{
        color:#51375C;
        margin-bottom: 0;
        font-size: 1.15em;
    }
    .boardMemberFlex h4{
        margin-top: 0;
        font-style: italic;
        font-size: 1em;
    }
    .board_container p{
        text-align: justify;
    }
    .board_container.readMore::after{
        width: 17px;
        height: 17px;
    }
    .popupOverlay{
        display: none;
        background-color: #C2891F;
        width: 80vw;
        /* left: 10vw; */
        top: 5vh;
        padding: 2vw 2vh;
        height: 80vh;
        border-radius: 10px;
        position: fixed;
        z-index: 1;
      }
    .popupContent{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3vw;
        height: 80vh;
        max-height: 80vh;
        overflow: hidden;
      }
      .popupContent.bio{
        width: 65%;
      }
      .bio h4, .bio h3{
        color:#51375C;
      }
      .bio p{
        color: #fff;
      }
      .profile img{
        align-self: center;
        border-radius: 10px;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .profile a{
        color:#51375C;
        font-family: Oswald, Geneva, Verdana, sans-serif;
        font-size: 1em;
        align-self: flex-end;
    }
      .closeButton{
        text-align: right;
        font-size: 2em;
        height: 4vh;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        color: #f1f1f1;
        font-weight: 500;
        cursor: pointer;
        padding: .5vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .bio h4, .bio h3{
        color:#51375C;
        margin: 0 auto;
      }
      .closeDesktop{
       display: none;
    }
    .closeMobile{
        display:flex;
        align-items: center;
        justify-content: center;
        align-self: self-end;
    }

/* MEET BOARD TABLET */
@media only screen and (min-width: 768px){
    #meetBoardGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .popupContent{
        flex-direction: row;
        justify-content: space-around;
      }
      .popupOverlay{
        left: 10vw;
        max-height: 40vh;
      }
      .closeButton{
      }
      .closeDesktop{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .closeMobile{
        display:none;
    }
}
/* MEET BOARD DESKTOP */
@media only screen and (min-width: 1024px) {
    .rrPageContainer#meetBoard{
        width: 75vw;
    }
    .popupOverlay{
        left: 10vw;
        top: 10vh;
        height: auto;
      }
}


/* -------- PROGRAMS --------- */

/* @media only screen and (max-width: 768px) { */
    .program_heading {
        position: relative;
        margin-top: 15vh;
        padding: 16vh 0 5vh;
    }
    .program_heading img {
        position: absolute;
        top: -16vh;
        left: 50%;
        transform: translate(-50%);
        width: 80vw;
        height: 30vh;
        object-fit: cover;
        border-radius: 20px;
        margin: 0 auto;
    }
    .program_heading h2 {
        font-size: 1.45em;
        text-align: center;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .program_heading h3{
        padding: 4vh 0 3vh;
        width: 89vw;
        text-align: center;
    }
/* programs desktop */
 @media only screen and (min-width: 1024px) {
    .program_heading{
        padding: 36vh 0 5vh;
      }
      
      .program_heading img{
        width: 50vw;
        height: 50vh;
      }
    .program_heading h2{
        font-size: 1.75em;
    }
    .program_heading h3{
        padding: 3vh 0vw;
        width: 75vw;
        margin: 0 auto;
    }
 }


/* -------- HYGIENE DRIVE --------- */

/* @media only screen and (max-width: 768px) { */
    .subPageHeader.hygiene_drive h1{
        color:#51375C;
      }
    
    .rrPageContainer.hygiene_drive{
        position: relative;
        width: 75%;
    }
    .program_heading.hygiene_drive{
        background-color: #5D1C44;
      }
      img#honeyPot{
        position: absolute;
        width: 40vw;
        height: auto;
        margin-top: -5vh;
        left:50%;
        transform: translate(-50%);
    }
    .section_header.hygiene_drive h2{
        color: #fff;
    }
    .rrPageContainer.hygiene_drive h3{
        color:#4B342D;
        text-align: center;
    }
    .rrPageContainer.hygiene_drive p{
        margin: 1.75vh auto;
        width: 95%;
    }
    #drive_press{
        background-color: #C2891F;
    }
    #drivePressGrid{
        display:grid;
        max-width: 75%;
        grid-template-columns: 1fr;
        gap: 6vh;
        justify-content: space-between;
        margin: 0 auto;
        padding: 5vh 0;
    }
    .driveArticle p{
        color: #fff;
        margin-bottom: 0;
        margin-top: 0;
    }
    .driveArticle img{
        max-width: 100%;
        height:auto;
        border-radius: 5px;
    }
    .driveArticle h3{
        color:#51375C;
        margin: .5vh auto 0; }
    /* .driveArticle p{
        color: #fff;
        margin-bottom: 0;
    } */
    .driveArticle a{
        text-decoration-color: #51375C;
        text-decoration-thickness: 1px;
    }
    .driveArticle a:hover h3 {
        color: #E9E6E2
    }


/* DRIVE TABLET */
@media only screen and (min-width: 768px){
    #drivePressGrid{
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5vw 4.5vw;
    }
}
/* DRIVE DESKTOP */
@media only screen and (min-width: 1024px){
    img#honeyPot{
        width: 20vw;
    }
}
/* end programs */


/* -------- SPONSORSHIP --------- */


#sponsorh1.subPageHeader h1 {
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.sponsor_section{

}
.sponsor_section h2{
    text-align: left;
    padding-left: 5vw;
}
#sponsor1 h2{
    color: #fff;
    text-align: left;
    padding-left: 5vw;
}
#sponsorSect2 h2{
}
#sponsor3 h2{
    color: #fff;
    text-align: left;
    padding-left: 5vw;
}
.sponsor_section h3, .sponsor_section p{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.sponsorshipContext h3{
    margin-top: 0;
    margin-bottom: 1vh;
}
.sponsorshipContext p{
    color:#f1f1f1;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.sponsor_flex{
    display: flex;
    flex-direction: column;
    height: auto;
}
.sponsorshipContext{
    padding: 2vh 0;
}

/* tiers */
#sponsorFlex{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3vh;
    height: auto;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.sponsorFlexBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #51375C;
    border-radius: 25px;
    max-width: 80%;
    height: auto;
    padding: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}
.sponsorFlexBox h3{
    color:#E9E6E2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
}
.sponsorFlexBox ul{
    padding-inline-start: 15px;
}
.sponsorFlexBox li{
    color:#E9E6E2;
    font-family: OpenSans;
    font-size: .85em;
    width: auto;
}

/* payment */
#sponsorSect5{
    margin-top: 5vh;
}

#sponsorSect5 h3{
    color:#51375C;
    margin-bottom: 0;
}
#sponsorSect5 p{
    margin-top: 0;
}


/* closing */
#sponsorshipClosing{
    padding: 3vh 0;
}
#sponsorshipClosing h2, #sponsorshipClosing h3{
    color: #fff;
    text-align: center;
    width:90vw;
    margin-left: auto;
    margin-right: auto;
}

/* tablet */
@media only screen and (min-width: 768px) {
    
    .sponsor_section h2{
        text-align: center;
    }
    #sponsor1 h2{
        text-align: center;
        padding-left: 0;
    }
    #sponsorSect2 p{
        text-align: center;
    }
    #sponsor3 h2{
        text-align: center;
        padding-left: 0;
    }
    .sponsor_flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* tiers */
    #sponsorFlex{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 3vw;
        width: 90vw;
    }
    .sponsorFlexBox{
        width: 100%;
        flex-wrap: nowrap;
    }
    .sponsorFlexBox li{
        font-size: 1em;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {
    #sponsorFlex{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* end sponsorship */




/* -------- PARTNER WITH US--------- */

/* @media only screen and (max-width: 768px) { */
    .rrPageContainer#partner{
        max-width: 100vw;
        margin-bottom: 5vh;
    }
    #partnership{
        width: 80vw;
        margin: 0 auto;
    }
    #partnership h3{
        color:#51375C;
        text-align: center;
    }
    .partnership_container{
        display:grid;
        width: auto;
        grid-template-columns: 1fr;
        gap: 4.5vw;
        /* margin-left: auto;
        margin-right: auto; */
        margin: 5vh 0;
    }
    .partnerBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        padding: 1.65vh 4vw;
        border: 2px solid #5D1C44;
    }
    .partnerBox p{
        font-family: Oswald, Geneva, Verdana, sans-serif;
        color: #51375C;
        font-size: 1.75em;
        margin-top: 0;
        margin-bottom: 1vh;
    }
    .partnerBox ul{
        padding-left: 2vw;
    }
    .partnerBox li{
        font-family: OpenSans, Arial, Helvetica, sans-serif;
        font-size: .75em;
        color: #51375C;
    }
    
    .cranBG.partnerBox p, .cranBG.partnerBox li{
        color:#f1f1f1;
    }
/* end mobile/default partner */

/* Partner With Us Tablet */
@media only screen and (min-width: 768px) {
    .partnership_container{
        width: 80vw;
        grid-template-columns: repeat(2, 1fr);
        margin: 5vh auto;
    }
    .partnerBox{
        padding: 1.65vh 2vw;
        border: 2.75px solid #5D1C44;
    }
}
/* Partner With Us Desktop */
@media only screen and (min-width: 1024px) {
    #partnership{
        width: 70vw;
    }
    #partnership h3{
        text-align: left;
    }
    .partnership_container{
        width: 70vw;}
}

/* -------- VOLUNTEER--------- */
.volunteer_section {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}
#volunteer p{
    color:#4B342D;}

#volunteer h3{
    color:#4B342D;
    margin-bottom: 1vh; }

.section_header.greenBG#volunteer h2{
    color:#51375C !important; }
.section_header.cranBG#volunteer h2{
    color:#f1f1f1; }
.volunteer_section ul{
    margin-top: .45em;
}
.volunteer_section li{
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: .85em;;
}
#volunteer_closing{
    background-color: #51375C;
    padding-top: 3.5vh;
    padding-bottom: 5vh;
}
#volunteer_closing p{
    font-family: Oswald, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .5px;
    margin: 1vh auto;
    font-weight: 500;
}

p.ambassador { font-size: 2.35em;}