
/* 
~~STYLES INDEX~~

INDEX/LANDING
- default, tablet, desktop

OUR STORY
- default, tablet, desktop

OUR WORK

~secondary pages~
ABOUT THE FOUNDER
-default, tablet, desktop

ABOUT THE BOARD

*/




/* -------- INDEX --------- */

/*DEFAULT/MOBILE */

/* @media only screen and (max-width: 768px) { */
    #landing_container{
        height: auto;
    }
    #landing_background {
        flex: 1;
        height: 100%;
        background: url(images/landing_bg_andrikan.png) no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    #landing_flex1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #landing_flex1_cont{
        /* width: */
        padding-top: 3vh;
        padding-bottom: 2vh;
    }
    #landing_container_content {
        padding: .5vh 0 .5vh 3.5vw;
        background-color: #E9E6E2;
        width: 65vw;
        margin: 0 auto;
    }
    .landing_header_img{
        display: flex;
        flex-direction: row;
        background-color: #5D1C44;
        width: 100vw;
    }
    img#landingHeaderImg {
        object-fit: contain;
        height: 30vh;
        width: 90vw;
        margin: 3vh auto 0;
    }
    #landing_container_content h1{
        color: #51375C;
    }
    .landingValues{
        display:none;
      }
    .landingValuesMOBILE{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vh 6.5vw;
        justify-content: space-around;
        width: 80vw;
        margin-right:auto;
        margin-left:auto;
      }
      .landingValuesMOBILE h4{
        color:#C2891F;
      }
      .landingValuesMOBILE img{
        max-width: 35px;
        aspect-ratio: auto;
        max-height: 35px;
    }
    #landing_mission{
        background-color: #5D1C44;
        height: auto;
        margin-top: -1vh;
        padding: 0 0 6vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #landing_mission h3{
        margin-top: 0;
        padding-top: 3vh;
        text-align: center;
        width: 80vw;
        margin-left: auto;
        margin-right:auto;
    }
    #landing_mission p{
        font-size: .80em;
        width: 70vw;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        color: #f1f1f1;
    }
    /* INDEX Programs*/
    #home_programs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80vw;
        gap: 4vw;
        margin-left: auto;
        margin-right: auto;
    }
    .homeProgram{
        position: relative;
        background-color: #C2891F;
        color: #fff;
        width: 80vw;
        height: 20vh;
        padding: 2vh 2.5vw;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
    }

    .homeProgram p, .homeProgram h2{
        color:#f1f1f1;
    }
    .hover_flip{
        display: none;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .hover_flip img{
        object-fit: cover;
        width:100%;
        height:100%;
        border-radius: 5%;
        
    }
    .homeProgram:hover .hover_flip{
        display: block;
    }
    /* INDEX Donate*/
    #landing_donate_flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* updtd */
        margin-top: 5vh;
        align-items: center;
        margin-bottom: 3vh;
    }
    #landingDonateContainer{
        max-width: 90%;
    }
    #landing_donate_flex div{
        margin:auto;
    }
    #landing_donate_flex img{
        object-fit: contain;
        max-height: 30vh;
    }
    a#home_do.block_button{
        background-color: #BDB763;
        color:#51375C;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    .adinkra_break{
        height: auto;
        max-height: 10vh;
        width: 100%;
        min-width: 70vw;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        /* updtd */
        margin: 2.65vh 0 1.5vh;
    }

    /* INDEX Impact*/

    #landing_impact{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }
    #landing_impact h2{
        text-align: center;
    }
    #home_impact_stories{
        display: flex;
        flex-direction: column ;
        width: 75vw;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1.5vh;

    }
    .impact{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vw;
        margin: 0 0 1vh;
    }
    .impactImage{
        align-self: flex-end;
    }
    .impact img{
        max-width: 17vw;
        height:auto;
    }
    p.impactName {
        font-family: Oswald !important;
        color:#51375C !important;
        font-size: 1em;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .impactSpeechBubble{
        border-radius: 22px;
        width: 235px;
        padding: 3.5vw;
        vertical-align: middle;
    }
    .impactSpeechBubble p{
        font-size: .70em;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #f1f1f1 !important;
    }
    .impactSpeechBubble#cran{background-color: #5D1C44;} .impactSpeechBubble#brown{background-color: #4B342D;}.impactSpeechBubble#purple{background-color: #51375C;}

    a#rm{
        color:#C2891F !important;
        text-align: center;
    }
    .impactContent{
        width: 70%;
    }
    /* INDEX Closing*/
    #landing_closing{
        background-color: #EDEDED;
        position: relative;
        height: 49vh;
    }
    #patternLanding2{
        z-index: 0;
        width: 90vw;
        height: 55%;
        position: absolute;
        right: 13vw;
        top: 0vh;
        object-fit: cover;
    }
    #landingClosingImg {
        z-index: 1;
        position: absolute;
        top: 2vh;
        right: 6vw;
        width: 60%;
        height:auto;
    }
    #landingClosingContainer{
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        bottom: 3vh;
    }
    #homeExplore{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 90vw;
        height: 8vh;
        gap:0;
    }
    #homeExplore a{
        text-align: center;
        font-family: Oswald;
        font-size: .95em;
        width: 33%;
        text-decoration: none;
        color:#f1f1f1;
    }

    #homeExplore p{
        color:#f1f1f1;
        margin:0;
    }
    /* MOBILE only */
    #homeExplore .block_button p{
        font-size: 1.30em;
        text-align: center;
    }
    #homeExplore div.arrow{
        display:none;
    }

/* END INDEX STYLES DEFAULT/MOBILE */



/* INDEX STYLES TABLET */
@media only screen and (min-width: 768px) {
    
    .landing_header_img{
        background-color: transparent;
    }   
    img#landingHeaderImg {
        height: 30vh;
    }
    /* .landingValuesMOBILE{
        display:none;
    } */
    #landing_mission h3{
        width: 85vw;
    }
    /* INDEX Programs*/
    #home_programs{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .homeProgram{
        width: 50vw;
        padding: 2vh 1.5vw;
    }
    /* INDEX Donate */
    #landing_donate_flex img{
        max-height: 45vh;
    }
    #landingDonateContainer{
        max-width: 80%;
    }
    /* impact */
    #home_impact_stories{
        flex-direction: row;
        width: 65vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .impact{
        justify-content: flex-start;
    }
    .impact img{
        max-width: 8vw;
    }
    .impactSpeechBubble{
        padding: 1.5vw;
    }
    a#rm{
        position: relative;
        left: 90%;
        top: 1vh;
    }
    /* INDEX Closing*/
    #landing_closing{
        height: 55vh;
    }
    #patternLanding2{
        height: 65%;
    }
    #landingClosingImg {
        width: 50%;
    }
    #landingClosingContainer{
        margin-left: -13vw;
    }
    #landingClosingContainer h2{
        margin-block-end: 0;
    }
    #homeExplore{
        width: 60vw;
        height: 8vh;
    }
    #homeExplore div.arrow{
        height: 35% !important;
        width:auto;
        gap:0;
    }
}
/* END INDEX STYLES TABLET */


/* DEFAULT/MOBILE GLOBAL PAGE STYLES */
    .pageTitle{
        height: auto;
        width: 85vw;
        border-radius: 35px;
    }
    .readMore::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 2vw;
        margin-top: 0.65vh;
        vertical-align: middle;
      }
/* END DEFAULT GLOBAL PAGE STYLES */

/* TABLET GLOBAL PAGE STYLES */
@media only screen and (min-width: 768px) {
}
/* END TABLET GLOBAL PAGE STYLES */


/* DESKTOP GLOBAL PAGE STYLES */
@media only screen and (min-width: 1024px) {
    .pageTitle{
        width: 45vw;
    }
    .readMore::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 4px;
        vertical-align: middle;
      }
}
/* END DESKTOP GLOBAL PAGE STYLES */



/* -------- OUR STORY --------- */

/*DEFAULT/MOBILE */
/* @media only screen and (max-width: 768px) { */
    #mission{
        padding: 2vh 4.5vw 4vh;
    }
    #mission h2{ 
        color:#f1f1f1;
        text-align: center;
    }
    #mission p{ color:#f1f1f1;}

    #mission h3{
        text-align: center;
    }
    #founder_preview{
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: space-between;
        z-index: 1; 
        position: relative;   
        margin-left: auto;
        margin-right: auto;
        gap: 0;
        margin-bottom: 5vh;
    }
    #founder_preview img{
        border-radius: 40px;
        height: 42vw;
        width: 41vw;
        object-fit: cover;
        object-position: bottom;
        margin-top: -4vh;
        object-position: bottom;
        position:relative;
        left: 50%;
        transform: translate(-50%);
    }
    
    h4#founder_preview, p#founder_preview{
        color:#4B342D;
        margin-block-start: .15em;
        margin-block-end: .15em;
    }
    .ourStoryPreview1.arrowMore{
        margin-right: 2vw;
    }
    h2#ab_board{
        text-align: left;
        margin-left: 5vw;
    }
    .boardPreview{
        display:flex;
        flex-direction: row;
        gap: 2vw;
        margin-bottom: 2vh;
    }
    .ourStoryPreview2.arrowMore{
        margin-right: 4.5vw;
    }
    #board_preview{
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
    .boardPreviewInfo{
        align-self: flex-end;
    }
    #board_preview a{
        text-align: right;
    }
    #board_preview p{
        line-height: 1vh;
    }
    p.boardTitle{
        font-family: Oswald, Geneva, Verdana, sans-serif;
        color:#51375C;
    }
    p.boardName{
        color:#51375C;
        font-style: italic;
    }
    #board_preview.block_button{
       align-self:center;
       margin-bottom: 7vh;
    }
    #board_preview.block_button p{    color: #5D1C44;}
    
    .rect{
        width: 125px;
        height: 125px;
        border-radius: 8px;
        background-color: #D8CCBF;  
    }

/* END OUR STORY DEFAULT */

/* OUR STORY TABLET */
@media only screen and (min-width: 768px) { */
    #mission{        
        padding: 2vh 12.5vw 4vh;
    }
    #mission h3{
        text-align: left;
    }
    #founder_preview{
        flex-direction: row;
        gap:3vw;
    }
    #founder_preview img {
        height: 35vw;
        width: 31vw;
    }
    /* #founder_previewImg{
        width: 34vw;
    } */
    #board_preview.arrowMore{
        margin-right: 1vw;
    }
    #board_preview{
        display: flex;
        flex-wrap: nowrap;
        gap: 3vw;
        width: 80vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 9vw;
    }
    h2#ab_board{
        margin-left: 7vw;
    }
    .boardPreview{
        flex-direction: column;
        gap:0;
    }
    .boardPreviewInfo{
        align-self: auto;
    }
    .rect{
        width: 175px;
        height: 175px;
    }
    #board_preview{
        gap: 1vw;
        width: 85vw;
    }   
    #board_preview.block_button{
        position: static;
        margin-left: auto;
    }
    .ourStoryPreview2.arrowMore {
        margin-right: 0;
    }
}

/* OUR STORY DESKTOP */
@media only screen and (min-width: 1024px) {
    #founder_preview{
        width: 80vw;
        gap: 5vw;
    }
    #founder_preview img{
        height: 27vh;
        width: 20vw;
    } 
    #board_preview{
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 53vw;
    }
    #board_preview.block_button{
        position: relative;
        right: 5vw;
    }
}


/* -------- OUR WORK --------- */
#programSection h2{
    color:#E9E6E2;
    text-align: center;
}
#programSection p{
    text-align: center;
}






                  /* -------SECONDARY PAGES------- */


/* -------- ABOUT THE FOUNDER --------- */

/* MOBILE/DEFAULT */
/* @media only screen and (max-width: 768px) { */
    #aboutFounder{
        width: 80vw;
    }
    #aboutFounder h3{ color:#5D1C44; text-align: center;}
    #aboutFounder h4, #aboutFounder p { color:#4B342D; }
    
    #about_flex{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:3vw;
    }
    #about_flex img{
        width:80vw;
        height:auto;
        align-self: flex-end;
    }
    #about_flex div{
        align-self: flex-end;
    }
    h2#about_flex{
        font-weight: 500;
        color:#4B342D;
    }
    
    h4#about_flex, p#about_flex{
        margin-left: 3vw;
        margin-top: 0;
        margin-bottom: 0.75vh;
    }
    a.block_button.centeredButton{
        margin: 5vh auto ;
    }
    a.block_button.centeredButton p{
        color:#f1f1f1 !important;
        margin-left:auto;
        margin-right:auto;
    }                             
/* end default */

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    #about_flex{
        flex-wrap: nowrap;
    }
    #about_flex img{
        height: 38vh;
    }
}

/* -------- MEET THE FOUNDER --------- */
/* @media only screen and (max-width: 768px) { */
    .rrPageContainer#meetBoard{
        width: 85vw;
        margin-bottom: 4vh;  
    }
    #meetBoardGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 7vh 8vw;
    }
    #meetBoard.greenBG p{
        color:#51375C !important;
    }
    
    .boardMemberFlex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2vw;
    }
    .boardMemberFlex div{
       align-self: flex-end;
    
    }
    .boardMemberFlex img{
        border-radius: 10px;
        width: 215px;
        height: 215px;
        object-fit: cover;
    }
    .boardMemberFlex h3{
        color:#51375C;
        margin-bottom: 0;
        font-size: 1.15em;
    }
    .boardMemberFlex h4{
        margin-top: 0;
        font-style: italic;
        font-size: 1em;
    }
    .board_container p{
        text-align: justify;
    }
    .board_container.readMore::after{
        width: 17px;
        height: 17px;
    }
    .popupOverlay{
        display: none;
        background-color: #C2891F;
        width: 80vw;
        /* left: 10vw; */
        top: 5vh;
        padding: 2vw 2vh;
        height: 80vh;
        border-radius: 10px;
        position: fixed;
        z-index: 1;
      }
    .popupContent{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3vw;
        height: 80vh;
        max-height: 80vh;
        overflow: scroll;
      }
      .popupContent.bio{
        width: 65%;
      }
      .bio h4, .bio h3{
        color:#51375C;
      }
      .bio p{
        color: #fff;
      }
      .profile img{
        align-self: center;
        border-radius: 10px;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .profile a{
        color:#51375C;
        font-family: Oswald, Geneva, Verdana, sans-serif;
        font-size: 1em;
        align-self: flex-end;
    }
      .closeButton{
        text-align: right;
        font-size: 2em;
        height: 4vh;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        color: #f1f1f1;
        font-weight: 500;
        cursor: pointer;
        padding: .5vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .bio h4, .bio h3{
        color:#51375C;
        margin: 0 auto;
      }
      .closeDesktop{
       display: none;
    }
    .closeMobile{
        display:flex;
        align-items: center;
        justify-content: center;
        align-self: self-end;
    }

/* MEET BOARD TABLET */
@media only screen and (min-width: 768px){
    #meetBoardGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .popupContent{
        flex-direction: row;
        justify-content: space-around;
      }
      .closeButton{
      }
      .closeDesktop{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .closeMobile{
        display:none;
    }
}
/* MEET BOARD DESKTOP */
@media only screen and (min-width: 1024px) {
    .rrPageContainer#meetBoard{
        width: 75vw;
    }
    .popupOverlay{
        left: 10vw;
        top: 10vh;
        height: auto;
      }
}