

  @media only screen and (min-width: 1024px) {
    /* updtd MOBILE */
    h1{
        font-family: Oswald;
        font-size: 3em;
        font-style: normal;
        font-weight: 500;
        line-height: 122%; /* 85.4px */
        color: #f1f1f1;
    }
    h2{
        font-family: Oswald;
        font-size: 2.3em;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 73.2px */
        color: #51375C;
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
    }
    h3{
        font-family: Oswald;
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: 128%; /* 51.25px */
        color: #e9e6e2;
    }
    h4{
        font-family: OpenSans;
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; /* 51.25px */
        color: #51375C;
    
        margin-block-start: .65em;
        margin-block-end: .65em;
    }
    
}



p{
    font-family: OpenSans;
    font-size: .85em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #4B342D;
}
a{
    font-family: Oswald;
}

/* HEADER */
@media only screen and (min-width: 1024px) {
    header{
        background-color: #f4f4f4;
        color: #51375C;
        text-align: center;
        position:sticky;
        width:100vw;
        top:0;
        z-index: 3;
        display: flex;
        /* updtd */
        justify-content: space-between;
        align-items: center;
    }
}


.header_flex{
    display: flex;
    flex-direction: row;

}
#logo_header{
    /* position: absolute;
    left: 1.5vw;
    top: .15vh; */
    max-height: 60px;
    max-width: 10vw;
    margin-left: 1.75vw;
}

nav{
    display: flex;
    justify-content: flex-end;
}
nav a{
    display: block;
    /* padding: 10px 20px; */
    text-decoration: none;
    color:#51375C;
    text-align: center;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}
nav a #header_donate{
    color: #f1f1f1;
    background-color: #51375C;
}

.mainMenu:hover, .dropdown a:hover, .dropdown a:active {
    background-color: #C2891F;
    color: #fff;
    transition: background-color 0.15s;
} 

.mainMenu:hover a, .mainMenu:active  a{
     color: #f1f1f1;
}


.mainMenu{
    position: relative;
    margin:0;
    width: 111px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
}
.dropdown{
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    background-color: #f4f4f4;
    z-index: 1;
    height: auto;
}
.dropdown a{
    font-size: 15px;
    width: 111px;
    color: #51375C !important;
}

.mainMenu:hover .dropdown{
    display:block;
}

.dropdown a:hover,
.dropdown a:active{
    color: #f1f1f1 !important;
}


/* GLOBAL PAGE STYLES */
/* #work #mc_embed_signup{

} */
.rrPageContainer{
    margin-left: auto;
    margin-right: auto;
}
.page_header{
    height: 30vh;
    background: url(images/patternGridPurple.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageTitle{
    /* padding: 5vh 5vw; */
    height: auto;
    width: 45vw;
    border-radius: 35px;
    
}
.pageTitle h1{
    text-align: center;
    margin: 3vh 0 4vh;
}
#cranTitle.pageTitle{ background-color: #5D1C44;}
#purpleTitle.pageTitle{ background-color: #51375C;}
#brownTitle.pageTitle{ background-color: #4B342D;}

.subPageHeader{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
}
.subPageHeader h1{
    text-align: left;
    margin-top: 0;
    margin-bottom:0;
    font-size: 3.3em;
    padding-left: 5vw;
}
.section_header{
    width: 100%;
    text-align: center;
    padding: .05vh;
}

.section_header.greenBG h2{ color:#5D1C44 !important;}

.section_header .whiteBG{ background-color: #E9E6E2; }
.section_header .whiteBG h2{ color:#51375C !important;}

.readMore{      
    margin-right: 0; 
    display: inline-flex;
    align-items: center;
    float: right;
    margin-right: 1vw;
}
.readMore p{
    font-family: Oswald; 
    margin-bottom: 16.5px;
}
.readMore::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
  }
.readMore#purple p{
    color:#51375C;
  }
#purple.readMore::after{
    background: url('images/readMore_purple.png') no-repeat center center / contain;
}
#orange.readMore::after{
    background: url('images/readMore_orange.png') no-repeat center center / contain;
}

@media only screen and (min-width: 1024px) {
    a.block_button{
        padding: 1.5vh 1.5vw;
        font-family: Oswald;
        border: 0;
        text-decoration: none;
        font-size: 1.05em;
        display:inline-block;
        text-align: center;
    }
    .block_button p{
        font-family: Oswald;
        /* updtd */
        font-size: 1.05em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.main_section{
    padding: 2vh 12.5vw 2vh;
}
.cranBG{
    background-color: #5D1C44;
    color:#f1f1f1;
}
.purpleBG{
    background-color: #51375C;
    color: #f1f1f1;
}
.orangeBG {
    background-color: #C2891F;
}
.brownBG {
    background-color: #4B342D;
}
.greenBG{ 
    background-color: #BDB763;
}
.arrow{
    background: url('images/arrow.png') no-repeat right;
    background-size: contain;
    height:auto;
}

/* delete what is NOT UPDATED. MOBILE WILL BE DEFAULT */

/* INDEX */
@media only screen and (min-width: 1024px) {
    
    #landing_background {
        flex: 1;
        height: 100%;
        background: url(images/landing_bg_andrikan.png) no-repeat;
        /* updated */
        background-size: 43vw 100%;
        background-repeat: no-repeat;
        background-position: left;
    }
    #landing_flex1{
        flex-direction: row;
        flex-wrap: nowrap;
        }
    #landing_flex1_cont{
         /* updated */
        width: 60vw;
    }
    #landing_container_content {
        padding: .5vh 0 2vh 3.5vw;
        background-color: #E9E6E2;
         /* updated */
        width: 50vw;
        margin-left: 8vw;
        margin-top: 15vh;
        /*  */
    }
    /* updated */
    .landing_header_img{
        display: flex;
    }
    /* updated */
    .landing_flex1 img{
        display: flex;
        object-fit: contain;
        /* MOBILE UPDTD */
        height: 50vh;
        /* updated */
        margin-top: 8vh;
        padding-left: 4vw;
        width: 90vw;
    }
    #landing_container_content h1{
        color: #51375C;
    }
    /* updated */
    .landingValues{ 
        width: 65vw;
        margin-right:auto;
        margin-left:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw; 
        justify-content: space-between;
    
        padding-bottom: 3vh;
      }
      /* updated */
    .landingValuesMOBILE{
        display: none;
    }
    /* updated */
    .landingValues img{
        max-width: 60px;
        aspect-ratio: auto;
        max-height: 60px;
    }
    #landing_mission{
        background-color: #5D1C44;
        height: auto;
        /* updated */
        margin-top: 0;
        padding: 6vh 0;
        /*  */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    /* updated */
    #landing_mission h4{
        color: #C2891F;
        text-align: center;
        margin-top: 0;
    }
    #landing_mission h3{
        text-align: center;
        /* updated */
        width: 65vw;
        margin-left: auto;
        margin-right:auto;
    }
    #landing_mission p{
        /* updtd */
        font-size: .70em;
        width: 60vw;
        /*  */
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        color: #f1f1f1;
    }

    /* INDEX Programs*/
    #home_programs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* ud */
        width: 63vw;
        gap: 8vw;
        /*  */
        margin-left: auto;
        margin-right: auto;
    }
    .homeProgram{
        position: relative;
        background-color: #C2891F;
        color: #fff;
        /* updtd */
        width: 30vw;
        height: 28vh;
        /*  */
        padding: 2vh 1.5vw;
        border-radius: 5%;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
    }
    .homeProgram p, .homeProgram h2{
        color:#f1f1f1;
    }
    .hover_flip{
        display: none;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .hover_flip img{
        object-fit: cover;
        width:100%;
        height:100%;
        border-radius: 5%;
        
    }
    .homeProgram:hover .hover_flip{
        display: block;
    }
    /* INDEX Donate*/
    #landing_donate_flex{
        display: flex;
        flex-direction: row;
        /* updtd */
        flex-wrap: nowrap;
        justify-content: space-between;
        /* updtd */
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 8vh;
        align-items: center;
        /* updtd */
        margin-bottom: 5vh;
    }
    /* updtd */
    #landingDonateContainer{
        margin-right: 3.5vw;
        max-width: 33vw;
    }
    #landing_donate_flex img{
        object-fit: contain;
        max-height: 45vh;
        /* updtd */
        margin-left: 3vw;
        padding-right: 5vw;
        /*  */
    }
    a#home_do.block_button{
        background-color: #BDB763;
        color:#51375C;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    .adinkra_break{
        height: auto;
        max-height: 10vh;
        width: 100%;
        min-width: 70vw;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        margin: 2.65vh 0;
    }
     /* INDEX Impact*/

     #landing_impact{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }
    #landing_impact h2{
        text-align: center;
        /* updtd */
        margin-bottom: 6vh;
    }
    #home_impact_stories{
        display: flex;
        flex-direction: row;
        /* updtd */
        gap: 6vw;
        width: 65vw;
        justify-content: center;
        flex-wrap: nowrap;
        /* updtd */
        margin-left:auto;
        margin-right:auto;
    }
    .impact{
        display:flex;
        flex-direction: row;
        /* updtd */
        width: 30vw;
        margin: 2vh 0;
    }
    .impactImage{
        align-self: flex-end;
    }
    .impact img{
        max-width: 8vw;
        height:auto;
    }
    p.impactName {
        font-family: Oswald !important;
        color:#51375C !important;
        font-size: 1em;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .impactSpeechBubble{
        border-radius: 22px;
        width: 235px;
        /* max-height: 122px; */
        padding: 1.5vw;
        vertical-align: middle;
    }
    .impactSpeechBubble p{
        font-size: .70em;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #f1f1f1 !important;
    }
    .impactSpeechBubble#cran{background-color: #5D1C44;} .impactSpeechBubble#brown{background-color: #4B342D;}.impactSpeechBubble#purple{background-color: #51375C;}

    a#rm{
        color:#C2891F !important;
        /* updtd */
        text-align: right;
        text-decoration: none;
    }
    /* INDEX Closing*/
    #landing_closing{
        background-color: #EDEDED;
        position: relative;
        /* updtd */
        height: 70vh;
    }

    #patternLanding2{
        z-index: 0;
        /* updtd */
        width: 50vw;
        height: 70%;
        /*  */
        position: absolute;
        right: 13vw;
        top: 0vh;
        object-fit: cover;
    }
    #landingClosingImg {
        z-index: 1;
        position: absolute;
        /* updtd */
        top: 6vh;
        right: 10vw;
        width: 33%;
        /*  */
        height:auto;
    }
    #landingClosingContainer{
        margin-left: 10vw;
        position: absolute;
        bottom: 3vh;
    }
    #homeExplore{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* updtd */
        width: 35vw;
        height: 8vh;
        
        gap:0;
    }
    /* #homeExplore div{
        width: 33%;
    } */
    #homeExplore a{
        text-align: center;
        font-family: Oswald;
        font-size: .95em;
        width: 33%;
        text-decoration: none;
        color:#f1f1f1;
    }

    #homeExplore p{
        color:#f1f1f1;
        margin:0;
    }
    #homeExplore div.arrow{
        height: 35% !important;
        width:auto;
    }
}


    


/* OUR STORY */
#mission{
    padding: 2vh 12.5vw 4vh;
}
#mission p{ color:#f1f1f1;}
#founder_preview{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    z-index: 1; 
    position: relative;   
    margin-left: auto;
    margin-right: auto;
    gap: 3vw;
}
#founder_preview img{
    border-radius: 40px;
    height: 39vh;
    width: 20vw;
    object-fit: cover;
    /* position: absolute; */
    /* top: -5.5vh; */
    margin-top: -4vh;
    float: left;
}
h4#founder_preview, p#founder_preview{
    color:#4B342D;
    margin-block-start: .15em;
    margin-block-end: .15em;
}

h2#ab_board{
    text-align: center;
}
#board_preview{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
    width: 80vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#board_preview p{
    line-height: 1vh;
}
p.boardTitle{
    font-family: Oswald;
    color:#51375C;
}
p.boardName{
    color:#51375C;
    font-style: italic;
}
#board_preview.block_button{
   align-self:center;
   margin-bottom: 7vh;
}

#board_preview.block_button p{    color: #5D1C44;}

.rect{
    width: 175px;
    height: 175px;
    border-radius: 8px;
    background-color: #D8CCBF;  
}



/* OUR WORK */
#mc_embed_signup {
    background:#51375C; 
    clear:left; 
    font-size:14px;
    font-family:Oswald,Helvetica,Arial,sans-serif; 
    /* width: px; */}

#mc_embed_signup_scroll{
    display: flex;
    gap: 2.5vw;
}
.mc-field-group input{
    border-radius: 30px;
    height: 3.5vh;
    background-color: #51375C;
    border: 2px solid #E9E6E2;
    color:#f1f1f1;
    font-family: OpenSans;
}
.mc-field-group label{
    font-family: Oswald;
}
#mc-embedded-subscribe.button{
    padding: 1.5vh 1.5vw;
    border: 0;
    text-decoration: none;
    display:inline-block;
    text-align: center;
}

#mc-embedded-subscribe p{
    font-family: Oswald;
    font-size: 1.05em;
    color:#51375C;
    background-color: #E9E6E2;
}
img.refferal_badge{
    width: 20px;
    height:auto;
}
#events.main_section h3{
    text-align: center;
}
/* STYLES UPDATED FOR MOBILE AND TABLET
#impact_stories{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}
#impact_stories h2{
    text-align: center;
    margin-bottom: 6vh;
}

#home_impact_stories{
    display: flex;
    flex-direction: row;
    gap: 6vw;
    width: 65vw;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left:auto;
    margin-right:auto;
} */

/* Get Involved*/
.getInvolvedFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 65vw;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5vh;
    gap: 2.5vw;
}
.getInvolvedFlex div{
    width: 50%;
}
.getInvolvedFlex h3, .getInvolvedFlex p{
    color:#51375C;
}
.getInvolvedFlex img{
    border-radius: 20px;
    width: 28vw;
}

.getInvolvedMenu{
    width: 80vw;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.35vw;
    margin-bottom: 5vh;
}
.getInvolvedMenu button{
    position: relative;
    border:none;
    border-radius: 15px;
    height: 15vh;
    width: 23.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.getInvolvedMenu div{
    height: 17vh;
}

.getInvolvedMenu button h2{
    color: #f1f1f1;
    font-size: 1.8em;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: .5em;
}

/* .getInvolvedMenu div .arrow{
    align-self: flex-end !important;
    position: absolute;
    top: 4vh;
} */
.getInvolvedMenu button .arrow{
    align-self: flex-end !important;
    position: absolute;
    top: 2.75vh;
    width: 13% !important;
    margin: 0.5vh 1.35vw;
}


/* RESOURCES */

#resources_container{
    display:grid;
    width: 65vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.5vw;
    margin-left: auto;
    margin-right: auto;
    margin: 5vh auto;
}

.resourceBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    padding: 1.5vh 1.75vw;
}

.resourceBox h3{
    font-size: 1.75em;
    text-align: center;
    margin: 1.35vh;
}
.resourceBox p{
    text-align: center;
    font-size: .7em;
}
.orangeBG.resourceBox{
    height: 27vh;
}
.greenBG.resourceBox{
    height: 20vh;
}
.greenBG.resourceBox h3, .greenBG.resourceBox p{
    color:#51375C;
}
.orangeBG.resourceBox h3, .orangeBG.resourceBox p{
    color:#fff;
}

/* BLOG */
#blog_container{
    width: 65vw;
    margin: 5vh auto;
}

.blogPostContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    /* padding: 1.5vh 1.75vw; */
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
}
.blogPostContainer div{
    width: 50%;
    min-width:50%;
    height: 100%;
}
.blogPostContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blogPostInfo {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 2.5vh 1.75vw 1.5vh;
    box-sizing: border-box;
    /* width: 50%; */
  }

  .blogPostInfo h3 {
    margin: 0;
    font-size: 1.55em;
  }
  
  .blogPostInfo p {
    margin: 0;
    color: #f1f1f1;
    align-self: flex-end;
  }


  /* Style for hover effect */
  .blogPostContainer:hover {
    background-color: #BDB763; /* Adjust as needed */
  }



  /* DONATE */
.rrPageContainer#support{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
#support h1{
    color:#f1f1f1;
    text-align: center;
}
.rrPageContainer#support h2{
text-align: center;
}
#yourContribution{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
#yourContribution div{
    width: 33%;
    border-radius: 33px;
    border: 5px solid #C2891F;
    background-color: #EDEDED;
    text-align: center;
    padding: 3vh 1.75vw 1vh;
    height: 33vh;

}

#yourContribution div p{
    color:#4B342D;
    font-family: Oswald;
}
p.contributeNum{
    font-size: 3em;
    margin: 1.5vh auto;
    font-weight: 500;
}
p.contributeDesc{
    font-size: 1.15em;
}

#donateNow p{
    color:#51375C !important;
}




                                    /* SUBPAGES */



/* ABOUT THE FOUNDER */
#aboutFounder{
    width: 80vw;
}
#aboutFounder h3{ color:#5D1C44; text-align: center;}
#aboutFounder h4, #aboutFounder p { color:#4B342D; }

#about_flex{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* max-height: 40vh; */
    justify-content: center;
    gap:3vw;
}

#about_flex img{
    height: 38vh;
    width:auto;
    align-self: flex-end;
}
#about_flex div{
    align-self: flex-end;
}
h2#about_flex{
    font-weight: 500;
    color:#4B342D;
}

h4#about_flex, p#about_flex{
    margin-left: 3vw;
    margin-top: 0;
    margin-bottom: 0.75vh;
}
a.block_button.centeredButton{
    margin: 5vh auto ;
}
a.block_button.centeredButton p{
    color:#f1f1f1 !important;
    margin-left:auto;
    margin-right:auto;
}                                    


/* MEET THE BOARD */
.rrPageContainer#meetBoard{
    width: 75vw;
    margin-bottom: 4vh;  
}
#meetBoardGrid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 7vh 8vw;
}
#meetBoard.greenBG p{
    color:#51375C !important;
}

.boardMemberFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
}
.boardMemberFlex div{
   align-self: flex-end;

}
.boardMemberFlex img{
    border-radius: 10px;
    width: 215px;
    height: 215px;
    object-fit: cover;
}
.boardMemberFlex h3{
    color:#51375C;
    margin-bottom: 0;
    font-size: 1.15em;
}
.boardMemberFlex h4{
    margin-top: 0;
    font-style: italic;
    font-size: 1em;
}
.board_container p{
    text-align: justify;
}
.board_container.readMore::after{
    width: 17px;
    height: 17px;
}
.popupOverlay{
    display: none;
    background-color: #C2891F;
    width: 80vw;
    left: 10vw;
    top: 10vh;
    padding: 2vw 2vh;
    height: auto;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
  }
  .popupContent{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3vw;
  }
  .popupContent.bio{
    width: 65%;
  }
  .bio h4, .bio h3{
    color:#51375C;
  }
  .bio p{
    color: #fff;
  }
  .profile img{
    align-self: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.profile a{
    color:#51375C;
    font-family: Oswald;
    font-size: 1em;
    align-self: flex-end;
}
  .closeButton{
    text-align: right;
    font-size: 2em;
    height: 4vh;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    color: #f1f1f1;
    font-weight: 500;
    cursor: pointer;
    padding: .5vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* PROGRAMS */

.program_heading{
    position: relative;
    margin-top: 15vh;
    padding: 40vh 0 5vh;
  }
  
  .program_heading img{
    position: absolute;
    top: -16vh;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 auto;
  }
.program_heading h2{
    font-size: 1.75em;
    text-align: center;
}
.program_heading h3{
    padding: 3vh 5vw;
    width: 75vw;
    margin: 0 auto;
}



/* MLK DAY FEMININE HYGIENE */
  .subPageHeader.hygiene_drive h1{
    color:#51375C;
  }

.rrPageContainer.hygiene_drive{
    position: relative;
    width: 75%;
}
img#honeyPot{
    position: absolute;
    width: 20vw;
    height: auto;
    margin-top: -6.5vh;
    left:50%;
    transform: translate(-50%);
}
.rrPageContainer.hygiene_drive h3{
    color:#4B342D;
    text-align: center;
}
.rrPageContainer.hygiene_drive p{
    margin: 1.75vh auto;
    width: 90%;
}
#drive_press{
    background-color: #C2891F;
}
#drivePressGrid{
    display:grid;
    max-width: 75%;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5vw 4.5vw;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5vh 0;
}
.driveArticle img{
    max-width: 100%;
    height:auto;
}
.driveArticle h3{
    color:#51375C;
    margin: .5vh auto 0; }
.driveArticle p{
    color: #fff;
    margin-bottom: 0;
}

/* SoS: Sisters of Strength */

.subPageHeader.sosProgram h1{
    color:#51375C;
  }

.rrPageContainer.sosProgram{
    position: relative;
    width: 75%;
}
.program_heading.sosProgram{
    background-color: #51375C;
  }
.sosProgram h2{
    color: #f1f1f1;
}



/* PARTNER */
.rrPageContainer#partner{
    max-width: 100vw;
    margin-bottom: 5vh;
}
#partnership{
    width: 65vw;
    margin: 0 auto;
}
#partnership h3{
    color:#51375C;
}
.partnership_container{
    display:grid;
    width: 65vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.5vw;
    margin-left: auto;
    margin-right: auto;
    margin: 5vh auto;
}

.partnerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    padding: 1.65vh 2vw;
}
.partnerBox p{
    font-family: Oswald;
    color: #f1f1f1;
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 1vh;
}
.partnerBox ul{
    padding-left: 2vw;
}
.partnerBox li{
    font-family: OpenSans;
    font-size: .75em;
    color: #f1f1f1;
}

/* VOLUNTEER */
.volunteer_section {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}
#volunteer p{
    color:#4B342D;}

#volunteer h3{
    color:#4B342D;
    margin-bottom: 1vh; }

.section_header.greenBG#volunteer h2{
    color:#51375C !important; }
.section_header.cranBG#volunteer h2{
    color:#f1f1f1; }
.volunteer_section ul{
    margin-top: .45em;
}
.volunteer_section li{
    font-family: OpenSans;
    font-size: .85em;;
}
#volunteer_closing{
    background-color: #51375C;
    padding-top: 3.5vh;
    padding-bottom: 5vh;
}
#volunteer_closing p{
    font-family: Oswald;
    color: #f1f1f1;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .5px;
    margin: 1vh auto;
    font-weight: 500;
}

p.ambassador { font-size: 2.35em;}